<div ng-controller="order as order">
    <div full-page id="fullpage" options="order.mainOptions">
<!--        <section class="fp_section">
            <div class="row middle-xs center-xs">
                <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
                  <form novalidate name="orderForm" class="form">
                      <div class="field">
                          <label>Ваше имя:</label>
                          <input type="text" ng-model="client_name" name="name" required="required" ng-minlength="3"
                                 ng-maxlength="8">
                          <div class="input-errors" ng-messages="orderForm.name.$error" ng-if="orderForm.name.$touched">
                              <p class="input_err" ng-message="minlength">Пожалуйста, укажите полное имя</p>
                              <p class="input_err" ng-message="maxlength">Имена обычно короче</p>
                              <p class="input_err" ng-message="required">Укажите ваше имя</p>
                          </div>
                      </div>
                      <div class="field">
                          <label>Электронная почта:</label>
                          <input type="email" ng-model="client_email" name="email">
                          <div class="input-errors" ng-messages="orderForm.email.$error" ng-if="orderForm.email.$touched">
                              <p class="input_err" ng-message="email">Укажите корректный адрес электронной почты</p>
                          </div>
                      </div>
                      <div class="field">
                          <label>Контактный телефон:</label>
                          <input type="phone" ng-model="client_phone" name="phone" required="required">
                          <div class="input-errors" ng-messages="orderForm.phone.$error" ng-if="orderForm.phone.$touched">
                              &lt;!&ndash;<p class="input_err" ng-message="pattern">Укажите корректный номер телефона</p>&ndash;&gt;
                              <p class="input_err" ng-message="required">Укажите номер вашего телефона</p>
                          </div>
                      </div>
                      <div class="field">
                          <label>Что хотели бы заказать:</label>
                          <textarea rows="3" name="order" ng-model="client_order"></textarea>
                      </div>
                      <button type="submit">Отправить</button>
                  </form>
                </div>
            </div>
        </section>-->
        <section class="fp_section">
            <script id="bx24_form_inline" data-skip-moving="true">
                (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                        (w[b].forms=w[b].forms||[]).push(arguments[0])};
                    if(w[b]['forms']) return;
                    s=d.createElement('script');r=1*new Date();s.async=1;s.src=u+'?'+r;
                    h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                })(window,document,'https://awake.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

                b24form({"id":"10","lang":"ru","sec":"xzgyze","type":"inline"});
            </script>
        </section>
    </div>
</div>